h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}

body {
	margin: 2em;
}

#map {
	height: 100%;
}

#sites div.panel-body {
	padding: 0;
	overflow-y: scroll;
	max-height: 300px;
}